<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" style="height: 98%;">
<head>
<title>RUMOEL</title>
<meta charset="UTF-8">

<style type="text/css">
#withBorder {
	border: 1px solid black;
}

table {
	height: 100%;
	width: 100%;
	border: 1px solid black;
}
</style>

</head>
<body style="width: 99%; height: 100%;">

	<table>
		<tr style="height: 5%;">
			<td width="5%"></td>
			<td></td>
			<td id="withBorder" width="10%">
				<div sec:authorize="isAuthenticated()">
					Wellcome, <span sec:authentication="name"></span> <a
						class="nav-link" href="/profile">My profile</a>
				</div>
				<div sec:authorize="isAnonymous()">
					<a class="nav-link" href="/login">Login</a>
				</div>
				<div sec:authorize="isAnonymous()">
					<a class="nav-link" href="/register">Register</a>
				</div>

				<div sec:authorize="isAuthenticated()">
					<a class="nav-link" href="/logout">Logout</a>
				</div>
			</td>

		</tr>
		<tr>
			<td></td>
			<td id="withBorder">
				<div sec:authorize="isAuthenticated()">




					<ul>
						<li><a target="_blank" href="/honeypots">honeypots (-)</a></li>
						<li><a target="_blank" href="/vkBots">vkbots (-)</a></li>
						<li><a target="_blank" href="/pas">pas (-)</a></li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
