<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<title>RUMOEL</title>
<meta charset="UTF-8">
</head>
<body>
	<h1>Welcome!</h1>

	<ul>
		<li sec:authorize="isAnonymous()"><a class="nav-link"
			href="/login">Login</a></li>
		<li sec:authorize="isAuthenticated()"><a class="nav-link"
			href="/logout">Logout</a></li>
		<li sec:authorize="isAuthenticated()">Wellcome, <span
			sec:authentication="name"></span></li>
	</ul>

	<div sec:authorize="isAuthenticated()">This content is only shown
		to authenticated users.</div>
</body>
</html>
